
<div class="row"  infinite-scroll='loadMore()' infinite-scroll-distance='1'>
    <div class="col-md-4 boxArea"  ng-repeat="news in newsList">
        <h5 class="titleNews" ng-href="{{news.url}}">{{news.title}}</h5>
        <p>
            <!--{{ news.time}}-->
            <!--{{ news.type}}-->
            {{ news.time * 1000 |  timeAgo}} </br>
            {{news.score}} points by {{news.by}}  </br>
            <i ng-if="news.descendants > 1">{{news.descendants}} comments</i>
            <i ng-if="news.descendants == 1 ">{{news.descendants}} comment</i>
            <i ng-if="news.descendants == 0">no comments yet</i>
        </p>
        <p class="domainName">{{ showWebsite( news.url ) }}</p>
    </div>
</div>

